<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tonyostudios.stockwatchlist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".StockApplication">

        <activity
            android:name=".activity.StockListActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:parentActivityName=".activity.StockListActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:name=".activity.SearchActivity" />

        <activity android:name=".activity.StockDetailActivity"
                  android:parentActivityName=".activity.StockListActivity"
                  android:label="@string/app_name"/>

        <receiver android:icon="@mipmap/icon"
                  android:label="@string/app_name"
                  android:name=".provider.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_provider" />
        </receiver>

        <service android:name=".service.WidgetService"
                 android:exported="false"
                 android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
